.profile_page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.profile_page .col-left{
  
    min-width: 300px;
    padding: 0 10px;
    margin: auto;
}

.profile_page .col-left .avatar{
    width: 150px;
    height: 130px;
    overflow: hidden;
    position: relative;
    margin: 5px auto;
    border: 5px solid #ddd;
    border-radius: 30px;
    cursor: pointer;
}


.profile_page .col-left .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    color: #F499AB;;
    transition: 0.3s ease-in-out;
}
.profile_page .col-left .avatar:hover span{
    bottom: -15%;
}

/* ----------- Col Right----------- */
.profile_page .col-right{
    padding: 0 10px;
    flex: 1;
    min-width: 300px;
}
.profile_page .col-right h2{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #333;
    margin: 10px 0;
}

/* ------------ Table------------ */
.users{
    border-collapse: collapse;
    width: 100%;
}
.users td,
.users th{
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 100px;
}
.users tr:nth-child(even){
    background: #f2f2f2;
}
.users th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #555;
    color: white;
}
.users i{
    cursor: pointer;
}
.users .fa-check{
    color: green;
}
.users .fa-times{
    color: red;
}
.users .fa-edit{
    background: whitesmoke;
    padding: 7px;
    color: #555;
    font-size: 10px;
}
.users .fa-trash-alt{
    background: red;
    padding: 7px;
    color: white;
    font-size: 10px;
    margin-left: 7px;
}
