.fg_pass h2{
    color: #555;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 50px 0;
    letter-spacing: 1.3px;
}
.fg_pass .row{
    max-width: 500px;
    margin: auto;
    padding: 0 10px;
}
.fg_pass .row input{
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 15px;
    border-radius: 3px;
    margin: 5px 0;
}
.fg_pass .row button{
    background: #333;
    color: white;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    border-radius: 3px;
    margin-top: 15px;
}