.showcasecont img{
    width: 300px;
    height: 300px;
}

body {
    padding: 50px;
  }
  .cardcontent p {
    font-size: 25px;
    line-height: 30px;
    font-family: 'Rakkas'
  }

  .showcasecont{
    border: 0.5px solid rgb(183, 183, 190);
    padding: 20px 40px 40px;
    max-width: auto;
    display: flex;
    box-shadow: 3px 3px 18px -1px #000000;
    background-color: #C5DDEB;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .showcasecont img {
    margin: 20px 30px 0px 0px;
    width: 300px;
    object-fit: contain;
    align-self: flex-start;
  }

  .showcasecont .cardcontent {
    flex: 1 1 auto;
  }

  .servicepic{
      margin-top: 15px;
      margin-left: 16px;
      margin-bottom: 5px;
  }
  .servicepic img{
    border-radius: 10px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.gridservice{
    box-shadow: 3px 3px 18px -1px #000000;
}
.grid h4 {
    margin-top: 0px;
    font-size: 20px;
    padding: 5px 0 ;
    text-align: center;
    text-decoration: underline;
  }
.grid div {
    background-color: #f1f1f1;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
  }
  .grid div p {
    text-align: center;
    font-family: 'Rakkas';
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.grid .middle {
  background-image: linear-gradient(to right, #FFADBC, #FE849A);
} 

.grid .first{
  background: #C5DDEB;
}
.grid .third{
  background: #8dc1f1;
}

.grid .gridservice img{
  margin-left: 120px;
  width: 200;
  height:200px
}