.footer .social img {
    width: 18px;
    height: 18px;
    margin-left: 20px;
}
.footer .social{
    text-align: center;
}
.footer .social p span {
    margin-left: 20px;
}
   
p { 
    color:  rgba(0, 0, 0, 0.54);
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.footer{
  
    background-image: linear-gradient(to right, #7ECDF9, #2275C1);
    width: 100%;
    position: absolute;
    margin-top: 50px;
    
}


